.garden-list-action {
  width: 100vw;
  margin-top: 20px;
}
.actionTitle {
  margin: 10px;
}
.actionGarden {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.action-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
  margin: 0 20px 20px 20px;
  background-color: #e5e7e9;
  &:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
      0 3px 15px 0 rgba(0, 0, 0, 0.19);
  }
}
/* .basic-multi-select {
  width: 80vw;
  border: unset;
  outline: none;
  margin: 5px;
  .css-yk16xz-control {
    border-radius: 50px;
  }
  &:focus {
    border: unset;
    outline: none;
  }
  &:active {
    border: unset;
    outline: none;
  }
} */
.css-2b097c-container {
  width: 300px;
}

.actionGarden {
  margin-top: 20px;
  text-align: center;
}
.date {
  width: 270px;
  border: unset;
  outline: none;
  margin: 5px;
  border-radius: 50px;
  padding: 10px;
}
.time {
  width: 270px;
  border: unset;
  outline: none;
  margin: 5px;
  border-radius: 50px;
  padding: 10px;
}
.description {
  width: 270px;
  height: 100px;
  border: unset;
  outline: none;
  margin: 5px;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
}
.btnBox {
  width: 300px;
}
.sendButton {
  width: 300px;
}

.inputGroup {
  width: 90%;
  max-width: 70px;
  height: 70px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 0.25em;
  margin: 0.2em auto;
  background-color: rgb(255, 255, 255);
}

#radio1 {
  display: flex;
  align-items: center;
}
