@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.Action-all-page {
  background: #f2efec;
  height: 100vh;
  padding-bottom: 15%;
}

.garden-list-action {
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  .back-gardenList {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    padding-bottom: 7%;
    padding-top: 7%;
  }

  // .link-back-gardenList {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: row;
  // }
  .back-arrow {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('../../images/Fichier 2.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .actionTitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 10px;
  }
}

.action-row {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
  margin: 0 20px 20vh 20px;
  background-color: #ffffff;
}
.actionGarden {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  width: 100vw;
}

.css-2b097c-container {
  width: 300px;
  margin: 10px;
  .css-yk16xz-control {
    border-radius: 50px;
  }
  .css-1pahdxg-control {
    border-radius: 50px;
  }
}

.labelZone {
  margin-top: 20px;
}

.date {
  width: 220px;
  border: unset;
  outline: none;
  margin: 10px;
  border-radius: 50px;
  padding: 10px;
}
.time {
  width: 220px;
  border: unset;
  outline: none;
  margin: 10px;
  border-radius: 50px;
  padding: 10px;
}
.description {
  width: 75vw;
  height: 35vh;
  border: unset;
  outline: none;
  margin: 5px;
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  background-color: #e5e7e9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.sendButton {
  width: 150px;
  margin: 10px;
  padding: 10px;
  background-color: #27841fd5;
  border: unset;
  border-radius: 50px;
  outline: none;
  color: white;
}
@media screen and (min-width: 500px) {
  .date {
    width: 54vw;
  }
  .time {
    width: 54vw;
  }
  .description {
    width: 58vw;
  }
  .css-2b097c-container {
    width: 60vw;
  }
}
