.containerFeed {
  background: #f2efec;
  background: #f3f1ef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.articleListContainer {
  width: 90vw;
}
.filterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  width: 90vw;
  height: 10vh;
}

.inputVisuel {
  margin-top: 10px;
  background-color: white;
  border: unset;
  border-radius: 50px;
  padding: 8px;
  width: 60vw;
  outline: none;
}
.filterButton {
  margin: 20px;
  background-color: #ffffff;
  border: unset;
  border-radius: 50px;
  padding: 8px;
  width: 40vw;
  outline: none;
  color: black;
  font-weight: bold;
  &:focus {
    border: black solid 2px;
  }
}
.articlesInfos {
  text-align: center;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 90vw;
  color: rgb(2, 2, 2);
}

.text {
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  color: rgb(2, 2, 2);
  width: 90vw;
  background-color: white;
  border-radius: 0% 0% 20px 20px;
  /* position: absolute;
  z-index: 1; */
}

.imgArticle {
  width: 90vw;
  position: relative;
  border-radius: 20px 20px 0% 0%;
}
