.garden-list-container {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10vh;

  button {
    font-size: 2vh;
    font-weight: bold;
    width: 100px;
    margin: 5px;
    background-color: #082852;
    border: unset;
    border-radius: 10px;
    padding: 8px;
    width: 30vw;
    outline: none;
    color: white;
  }
}

.garden-row {
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  border-radius: 25px;
}
.imgGarden {
  width: 100%;
  height: 30vh;
}
.linkGarden {
  display: flex;
  justify-content: center;
  padding: 10px;
  button {
    height: 10vh;
    margin: 10px;
  }
}
.titleGarden {
  margin: 15px 0px 0px;
}
@media screen and (min-width: 500px) {
  .garden-list-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .garden-row {
    width: 60%;
  }
}
