.garden-list-container-infos {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2efec;
  height: 100vh;

  button {
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    margin: 5px;
    background-color: #27841fd5;
    border: unset;
    border-radius: 50px;
    padding: 8px;
    width: 40vw;
    outline: none;
    color: white;
  }
}

.whitebar-infos {
  background-color: white;
  border-radius: 50px;
  border: unset;
  outline: none;
  padding: 8px;
  margin: 5px;
  width: 80vw;
  top: 5%;
  position: absolute;
  top: 5px;
}

.link-back-feed-garden {
  width: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.back-arrow-infos {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  /* background-image: url('../../images/Fichier 2.png'); */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.retour-infos {
  font-family: 'Montserrat', sans-serif;
  color: #292929;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.garden-row-infos {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  /*   padding: 20px;
  margin: 0 20px 20px 20px;
  background-color: #e5e7e9;
  border-radius: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2efec;
}
.imgGarden-infos {
  width: 100%;
  height: 35vh;
}

.detailsGarden {
  width: 90vw;
  margin: 3%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #292929;
  font-size: 16px;
  p {
    margin: 5px;
  }
}

.gardenActionContainer {
  width: 100%;
}

.gardenAction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100vw;
  div:empty:before {
    content: attr(data-placeholder);
    color: black;
  }
  .action-Arroser {
    background-image: url('../../images/arroser.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 15vh;
  }
  .action-Desherber {
    background-image: url('../../images/desherber.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 15vh;
  }
  .action-Planter {
    background-image: url('../../images/planter.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 15vh;
  }
  .action-Recolter {
    background-image: url('../../images/recolter.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 15vh;
    grid-row: 2;
    grid-column: 1 / 3;
  }
  .action-Semer {
    background-image: url('../../images/semer.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 15vh;
    grid-row: 2;
    grid-column: 2 / 4;
  }
}

.gardenZoneContainer {
  margin-bottom: 10px;
}
