.garden-list-container {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10vh;
  .garden-row {
    margin: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
  }
  .imgGarden {
    width: 100%;
    height: 30vh;
    border-radius: 30px 30px 0 0;
  }
  .linkGarden {
    display: flex;
    justify-content: center;
    padding: 10px;
    button {
      outline: none;
      color: white;
      background-color: #082852;
      border: unset;
      border-radius: 10px;
      font-size: 2vh;
      font-weight: bold;
      width: 30vw;
      height: 10vh;
      margin: 10px;
      padding: 8px;
    }
  }
  .titleGarden {
    margin: 15px 0px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .garden-list-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .garden-row {
    width: 60%;
    .imgGarden {
      width: 100%;
      height: 55vh;
    }
    .linkGarden {
      button {
        width: 15vw;
      }
    }
  }
}
@media screen and (min-width: 760px) and (max-width: 820px) {
  .garden-row {
    width: 60%;
    .imgGarden {
      width: 100%;
      height: 45vh;
    }
  }
}
