.garden-list-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  button {
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    margin: 5px;
    background-color: #27841fbd;
    border: unset;
    border-radius: 10px;
    padding: 8px;
    width: 40vw;
    outline: none;
    color: white;
  }
}
/* .actionButton {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 25vw;
  height: 10vh;
  background-image: url('../../images/jardin-active.png');
  background-position: center;
} */
.garden-row {
  font-weight: bold;
  text-align: center;
  background-color: #e5e7e9;
  border-radius: 25px;
}
.imgGarden {
  width: 100%;
  height: 30vh;
}
.linkGarden {
  padding: 10px;
}
.titleGarden {
  margin: 15px 0px 0px;
}
@media screen and (min-width: 500px) {
  .garden-list-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .garden-row {
    width: 60%;
  }
}
