.garden-list-container-infos {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2efec;
  padding-bottom: 10vh;
  height: 100vh;
  .garden-row-infos {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2efec;

    .whitebar-infos {
      background-color: white;
      border-radius: 50px;
      border: unset;
      outline: none;
      padding: 8px;
      margin: 5px;
      width: 80vw;
      top: 5%;
      position: absolute;
      top: 5px;
    }

    .link-back-feed-garden {
      width: 100px;
      display: flex;
      justify-content: left;
      align-items: center;
      flex-direction: row;
    }

    .back-arrow-infos {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-image: url('../../images/Fichier 2.png');
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .back-infos {
      font-family: 'Montserrat', sans-serif;
      color: #292929;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
    }
    .imgGarden-infos {
      width: 100%;
      height: 35vh;
    }

    .detailsGarden {
      width: 90vw;
      margin: 3%;
      height: auto;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      text-decoration: none;
      color: #292929;
      font-size: 16px;
      p {
        margin: 5px;
      }
    }
    .gardenActionContainer {
      width: 100%;
      button {
        font-size: 15px;
        font-weight: bold;
        width: 100px;
        margin: 5px;
        background-color: #082852;
        border: unset;
        border-radius: 50px;
        padding: 8px;
        width: 40vw;
        outline: none;
        color: white;
      }

      .gardenAction {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        width: 100vw;
        margin-bottom: 25px;
        div:empty:before {
          content: attr(data-placeholder);
          color: black;
        }
        .nameAction {
          margin-top: 12vh;
        }

        .action-Arroser {
          color: #082852;
          font-weight: bold;
          text-decoration: none;
          background-image: url('../../images/arroser.png');
          background-size: 60px;
          background-repeat: no-repeat;
          background-position: center;
          width: 20vw;
          height: 15vh;
        }
        .action-Desherber {
          color: #082852;
          font-weight: bold;
          text-decoration: none;
          background-image: url('../../images/desherber.png');
          background-size: 60px;
          background-repeat: no-repeat;
          background-position: center;
          width: 20vw;
          height: 15vh;
        }
        .action-Planter {
          color: #082852;
          font-weight: bold;
          text-decoration: none;
          background-image: url('../../images/planter.png');
          background-size: 60px;
          background-repeat: no-repeat;
          background-position: center;
          width: 20vw;
          height: 15vh;
        }
        .action-Recolter {
          color: #082852;
          font-weight: bold;
          text-decoration: none;
          background-image: url('../../images/recolter.png');
          background-size: 60px;
          background-repeat: no-repeat;
          background-position: center;
          width: 20vw;
          height: 15vh;
          grid-row: 2;
          grid-column: 1 / 3;
        }
        .action-Semer {
          color: #082852;
          font-weight: bold;
          text-decoration: none;
          background-image: url('../../images/semer.png');
          background-size: 60px;
          background-repeat: no-repeat;
          background-position: center;
          width: 20vw;
          height: 15vh;
          grid-row: 2;
          grid-column: 2 / 4;
        }
      }
    }
  }
}

.gardenZoneContainer {
  justify-items: center;
  width: 80vw;
  margin-bottom: 10px;

  .gardenZoneRow {
    border: unset;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #292929;
    font-size: 12px;
    text-decoration: none;
    border-radius: 10px;
    width: 80vw;
    p {
      background-color: white;
      padding: 5px;
      border-radius: 5px;
    }

    button {
      font-weight: bold;
      width: 50%;
      height: 40px;
      margin: 5px;
      font-size: 15px;
      font-weight: bold;
      background-color: #082852;
      border: unset;
      border-radius: 10px;
      padding: 8px;
      outline: none;
      color: white;
    }
  }
}

@media screen and (min-width: 500px) {
  .gardenAction {
    display: flex;

    .action-Arroser {
      background-size: 80px;
    }
    .action-Desherber {
      background-size: 80px;
    }
    .action-Planter {
      background-size: 80px;
    }
    .action-Recolter {
      background-size: 80px;
    }
    .action-Semer {
      background-size: 80px;
    }
  }
}
