.googleContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 3000px;

  .button-calendar-container {
    display: flex;
    justify-content: center;
  }
  .css-16hdvkl-Calendar {
    margin: 10px;
  }
  .calendar-body {
    margin-top: 25px;
  }
  .button-calendar-list {
    width: 20vw;
    height: 5vh;
    border: none;
    margin: 1%;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-size: 1rem;
    cursor: pointer;
    &:active {
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &:focus,
    &:hover {
      outline: 0;
      background-color: #ebb349;
      box-shadow: 0 8px 16px 0 rgba(32, 22, 22, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.calendar {
  width: 80%;
  margin-right: 50px;
  margin-top: 50px;
}
