.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #dfdddb;
  width: 100vw;
  height: 100vh;

  .logo {
    background-image: url('../../images/black_logo.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 40%;
    padding: 10%;
  }

  .boxLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-control {
    margin: 5px;
    background-color: white;
    border: unset;
    border-radius: 50px;
    padding: 8px;
    width: 70vw;
    max-width: 400px;
    outline: none;
  }

  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .button {
    margin: 5px;
    background-color: #28841f;
    border: unset;
    border-radius: 50px;
    padding: 8px;
    width: 40vw;
    max-width: 300px;
    outline: none;
    color: white;
  }

  .infoCreation {
    margin: 10px;
    width: 70vw;
    text-align: center;
  }

  button:hover {
    cursor: pointer;
    color: #292929;
  }

  .invalid-feedback {
    display: block !important;
    color: red;
    font-size: 12px;
  }

  .stay-connected-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .stay-connected {
      font-size: 15px;

      #stayConnected {
        margin: 20px 10px 20px 10px;
        -ms-transform: scale(1.2); /* IE */
        -moz-transform: scale(1.2); /* FF */
        -webkit-transform: scale(1.2); /* Safari and Chrome */
        -o-transform: scale(1.2); /* Opera */
        transform: scale(1.2);
      }
    }
  }

  .forgotten-password {
    color: rgb(100, 100, 100);
    font-size: 14px;

    .email-admin {
      color: inherit;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  .field {
    width: 50vw;
    .form-control {
      margin: 10px;
      width: 40vw;
      height: 30px;
    }
  }
  .button {
    width: 10vw;
    height: 40px;
  }
}
